*{margin:0px;padding:0px;}
body{
  background-image:url("../img/datu.jpg");
}
.my_header{
  width:100%;
  height:60px;
}
.APP{
  width:1000px;
  margin:0 auto;
}
.img_1 img{
  width:600px;
  height:600px;
}
.img_2_ZT{
  width:30%;
  margin-top:60px;
}
.img_2_ZT img{
  width:100%;
}
.img_3_rwm img{
  width:45%;
  margin-top:50px;
}
.img_2_ZT  p{
  margin:0px;
  width:150px;
  margin-top:11px;
  font-size:14px;
  color:#B8B8B8;
  text-align:center;
}
.img_4 {
  text-align:left;
  width:100%;
  margin-top:20px;
}
.img_4 a:last-child{
  margin-left:30px;
  display:block;
}
.img_4 a:hover{
  background-color:rgba(255, 255, 255, 0.3)
}
.font{
  position:fixed;
  text-align:center;
  margin-top:50px;
  font-size:14px;
}
.font a{
  color: #fff;
  text-decoration:none;
}