*{margin:0;padding:0}*{margin:0;padding:0}
.container-fluid{
    min-width:1200px;
    width:100%;
    background:#202020;
    height:0 auto;
}
.my_a1{
    width:1200px;
    margin:0 auto;
    height:60px;
    padding-top: 10px;
}
.my_a1 img{
    float:left;
}
.my_sy a{
    font-weight: bold;
    color:#ffffff !important;
}
.nav-item img{
    width:28px;
    height:13px;
    float:right;
    margin-top:-7px;
}
.my_a1>.my_dhl{
    height:38px;
}
.my_dhl a{
    color:#999999;
    font-size:15px;
    font-weight: bold;
}
.my_dhl a:hover{
    color:#fefefe;
}
 .my_text{
    float:right;
     margin:0 auto;
}
.my_text input{
    font-size:14px;
    width:252px;
    height:33px;
    padding-left:15px;
    border-radius:20px;
    border:0 none;
    outline-width:0;
    position:absolute;
}
.my_ssk {
    position:relative;
    margin-left:220px;
    margin-top:3px;
}
.my_logon{
    float:right;
    margin-top:5px;
    height:38px;
}
.my_logon span{
    font-weight:lighter;
    color:#ffffff;
}
.my_logon a{
    color:#ffc107;
    text-decoration:none;
}