*{margin:0;padding:0}
.my_header{
    min-width:1200px;
    width:100%;
    height:58px;
}
.fenlei{
    margin:0 auto;
    padding-top:20px;
    padding-bottom:20px;
    width: 1200px;
}
.fenlei_F1{
    width:100%;
    height:35px;
    border-bottom: 1px solid #EEEEEE;
    background: #fff;
    margin-top:10px;
}
.fenlei_yx{
    height:26px;
    line-height:26px;
    font-size: 12px;
    color: #999999; 
} 
.fenlei_qb{
    padding: 0 8px;
    height:26px;
    line-height:26px;
    background:#FFD706;
    border-radius: 4px;
    font-size:12px;
    margin-left:33px;
}
.fenlei_F2{
    padding-top:14px;
    width:100%;
    background: #fff;
    display:flex;
}
.fenlei_tc{
    height:26px;
    line-height:26px;
    font-size: 12px;
    color: #999999; 
}
.fenlei_F2>ul{
    width:700px;
    flex-wrap:wrap;  
}
.fenlei_F2>ul>li a{
    font-size:12px;
    text-decoration:none;
    color:#282828;
    margin-left:17px;
}
.fenlei_F2 ul li+li{
    margin:2px 9px;
}
.QB_active a{
    padding:5px 8px;
    height: 26px;
    line-height:26px;
    background: #FFD706;
    border-radius:4px;
    font-size:12px;
}
.fenlei_F3{
    width:100%;
    background: #fff;
    display:flex;
}
.fenlei_lb {
    height:26px;
    line-height:26px;
    font-size:12px;
    color: #999999; 
}
.fenlei_F3>ul>li a{
    color:#282828;
    text-decoration:none;
    font-size:12px;
    margin-left:24px;
}
.fenlei_F3 li{
    margin:0 7px;
}
.fenlei_F4{
    margin: 0 auto;
    width:1200px;
    height: auto;
}
.fenlei_F4 ul{
    flex-wrap: wrap;
}
.fenlei_F4 img{
    width:184px;
    height:224px;
    border-radius:4px;
}
.fenlei_F4 img:hover{
   opacity:0.6;
   transform:scale(1.05);
}
.fenlei_F4 p{
  margin-top:5px;  
}
.fenlei_F4 span{
    margin-top:5px;
    font-size:12px;
    color:#666;  
  }
.fenlei_F4 a{
    
    color:#000;
    text-decoration:none;
}
.fenlei_F4 a:hover{
    color:#6f93bd;
}
.fenlei_yc{
    width:120px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.fenlei_F5{
    padding-bottom:130px;
}
.fenlei_nav{
    display: table;
    margin: 0 auto;
   
}
.fenlei_nav ul li{
     width:30px;
    height:30px;
    line-height:30px;
    border:1px #888 solid;
    margin-left:10px;
    text-align: center;
}
.fenlei_nav ul li span{
    font-size:20px;
}
.my_1{
    left:1px;
    border-left:6px #606266 solid;
}
.my_2{
    border-left:6px white solid;
}
.fenlei_nav li a{
    font-size:14px;
}
.fenlei_nav a{
    color:#000;
    text-decoration:none;
}
.fenlei_nav a:hover{
    color:#FFD706;
}
.active{
    background:#FDE23D;
}

.my_for{
    min-width:1200px;
    width:100%;
    background:#282828;
}
.my_for2{
    width:1200px;
    height:290px;
    margin:0 auto;
    padding-top:20px;
}